/* USE THIS VARIABLE e.g color: var(--dark-color); */
:root{
    --dark-color: #171716;
    --light-color: #E5E4DB;
    --accent-color: #08ABDE;
}

/* RESETING CSS DEFAULT DONT DELETE THIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-color);
    color: var(--light-color);
    font-family: "Roboto Mono", monospace;
}

/* WRITE YOUR CODE HERE */
